$cover-ratio: 297/210;
$tabs-height: 6vh;

$primary: #3b86fd;
$primary-deep: #506db6;
$primary-change: #6aa9ff;
$primary-bg: #E6E7FC;

$green: #3be88e;

$default: #333333;
$desc: #8c8c8c;
$disable: #b3b3b3;


$warning: #ead1a6;
$danger: #f44f4d;


$page-bg: #f5f5f5;

$border-color:#f0f0f0;

