@import './colors.scss';

.p-5 {
  padding: 10px;
}

.pl-5 {
  padding-left: 10px;
}

.pr-5 {
  padding-right: 10px;
}

.pt-5 {
  padding-top: 10px;
}

.pb-5 {
  padding-bottom: 10px;
}

.p-10 {
  padding: 20px;
}

.pl-10 {
  padding-left: 20px;
}

.pr-10 {
  padding-right: 20px;
}

.pt-10 {
  padding-top: 20px;
}

.pb-10 {
  padding-bottom: 20px;
}


.p-15 {
  padding: 30px;
}

.pl-15 {
  padding-left: 30px;
}

.pr-15 {
  padding-right: 30px;
}

.pt-15 {
  padding-top: 30px;
}

.pb-15 {
  padding-bottom: 30px;
}

.m-5 {
  margin: 10px;
}

.ml-5 {
  margin-left: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 10px;
}

.mb-5 {
  margin-bottom: 10px;
}

.m-10 {
  margin: 20px;
}

.ml-10 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 20px;
}

.mt-10 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 20px;
}

.m-15 {
  margin: 30px;
}

.ml-15 {
  margin-left: 30px;
}

.mr-15 {
  margin-right: 30px;
}

.mt-15 {
  margin-top: 30px;
}

.mb-15 {
  margin-bottom: 30px;
}


.bold {
  font-weight: bold;
}

.text-default {
  color: $default;
}

.text-desc {
  color: $desc;
}

.text-disable {
  color: $disable;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.text-primary {
  color: $primary;
}

.text-green {
  color: $green;
}

.text-11 {
  font-size: 22px;
}

.text-12 {
  font-size: 24px;
}

.text-13 {
  font-size: 26px;
}

//普通字体
.text-15 {
  font-size: 30px;
}

.text-17 {
  font-size: 34px;
}

.text-20 {
  font-size: 40px;
}

.text-24 {
  font-size: 48px;
}

.text-32 {
  font-size: 64px;
}

/*************/

.flex {
  display: flex;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-c {
  @extend .flex;
  align-items: center;
}


.flex-c-c {
  @extend .flex-c;
  justify-content: center;
}

.flex-c-e {
  @extend .flex-c;
  justify-content: flex-end;
}

.flex-c-sb {
  @extend .flex-c;
  justify-content: space-between;
}

.flex-sb {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-s {
  flex-shrink: 0;
}

.position-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.lh-1 {
  line-height: 1;
}

.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line-2 {
  @extend .line-1;
  -webkit-line-clamp: 2;
}

/*水平线*/
.aui-hr {
  width: 100%;
  position: relative;
  height: 1px;
}

.aui-hr:after {
  height: 1px;
  background-color: #dddddd;
  display: block;
  content: '';
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  pointer-events: none;
}

/*边框样式*/
.aui-border-t,
.aui-border-b,
.aui-border-l,
.aui-border-r,
.aui-border-tb,
.aui-border {
  position: relative;
}

.aui-border-l:before,
.aui-border-r:after {
  width: 1px;
  height: 100%;
  background-color: $border-color;
  display: block;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: auto;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  pointer-events: none;
}

.aui-border-t:before,
.aui-border-b:after {
  width: 100%;
  height: 1px;
  background-color: $border-color;
  display: block;
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  right: auto;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  pointer-events: none;
}

.aui-border-l:before {
  right: auto;
  left: 0;
}

.aui-border-r:after {
  right: 0;
  left: auto;
}

.aui-border-t:before {
  bottom: auto;
  top: 0;
}

.aui-border-b:after {
  bottom: 0;
  top: auto;
}

.aui-border:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1);
  pointer-events: none;
  border: 1px solid $border-color;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .aui-border:after {
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(0.5);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .aui-border-r:after,
  .aui-border-l:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .aui-border-t:before,
  .aui-border-b:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .aui-border-r:after,
  .aui-border-l:before {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  .aui-border-t:before,
  .aui-border-b:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .aui-border-r:after,
  .aui-border-l:before {
    -webkit-transform: scaleX(0.333);
    transform: scaleX(0.333);
  }
  .aui-border-t:before,
  .aui-border-b:after {
    -webkit-transform: scaleY(0.333);
    transform: scaleY(0.333);
  }
}

/**
公共模块样式
 */

.page {
  background: #ffffff;
}

.tabs-page {
  margin-top: $tabs-height;

}

.page-view {
  min-height: 100vh;
}

.page-view-tab {
  min-height: 100vh - $tabs-height;
}

.page-pd {
  padding: 15px 30px;
}

.white-bg {
  background: white;
}

.shadow {
  box-shadow: 0 0 40px #dcdcdc;
}

.shadow-small {
  box-shadow: 0 0 30px #e7e7e7;
}

.shadow-l {
  box-shadow: 20px 20px 40px #dcdcdc;
}

.radius {
  border-radius: 10px;
}

.radius-small {
  border-radius: 5px;
}

.nav-bar {
  display: flex;

  .nav-bar-container {
    width: 500px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
}

.yd-tags {
  display: flex;

}

/**/

.page {
  .yd-tag {
    color: $primary;
    background: $primary-bg;
    border-color: $primary-bg;
    margin-right: 5px;
  }

  .at-button--primary {
    background-color: $primary-deep;
    color: #fff;
    border: 1PX solid $primary-deep;

  }

  at-icon {
    line-height: 1;
  }



}
error-view {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.none-network{
  background: #FFEEEC;
  padding: 20px 30px;
}



