@import "../../assets/styles/common";
.yd-grid {
  display: flex;
  flex-wrap: wrap;

  .yd-grid-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    .icon{
      vertical-align: middle;
    }
    .name{

    }
  }
}
