@import "../../assets/styles/common";


$banner-ratio: 128/280;
.tab-recommend {
  .banner {
    height: 690px * $banner-ratio + 50;

    .banner-item {
      .banner-image {
        width: 690px;
        height: 690px * $banner-ratio;
        vertical-align: middle;
        border-radius: 10px;

      }
    }
  }

}

.tab-tow {

}

.tab-three {

}

.tab-four {
  .banner {
    height: 690px * $banner-ratio + 50;

    .banner-item {
      .banner-image {
        width: 690px;
        height: 690px * $banner-ratio;
        vertical-align: middle;
        border-radius: 10px;

      }
    }
  }

}

.tab-six{
  .play-icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .ppjdr-icon{
    position: absolute;
    background: white;
    padding: 2px;
    border-radius: 50%;
    right: -10px;
    bottom: 5px;
  }
}
